language: php

php:
  - 7.0

env:
  global:
    - DB_CONNECTION=sqlite

install:
  - composer install
  - npm install newman --global

script:
  - newman --version
  - php artisan serve &
  - sleep 5
